<!DOCTYPE html>
<html>
<head>
	<title>Computer Database</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/speccdb/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/speccdb/css/font-awesome.css" rel="stylesheet" media="screen">
	<link href="/speccdb/css/main.css" rel="stylesheet" media="screen">
</head>
<body id="error_500">
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/speccdb/dashboard.html"> Application - Computer Database </a>
		</div>
	</header>

	<section id="main">
		<div class="container">	
			<div class="alert alert-danger">
				Error 500: An error has occured!
				<br/>
				<!-- stacktrace -->
			</div>
		</div>
	</section>

	<script src="/speccdb/js/jquery.min.js"></script>
	<script src="/speccdb/js/bootstrap.min.js"></script>
	<script src="/speccdb/js/dashboard.js"></script>

</body>
</html>